.gallery
  - @images.each do |image|
    .photo
      = image_tag image.photo.url(:thumb)
      .icon
        = link_to image do
          %i.fa.fa-search>
        = link_to edit_image_path(image) do
          %i.fa.fa-pencil-square-o>
        = link_to image, method: :delete, data:{confirm: "Delete this contact?"} do
          %i.fa.fa-times

